#flowtest02_main {
  width: 95%;
  margin: 0 auto;
  background:#066999;  
}
#flowtest02_container {
  height: 600px;
  overflow: auto;
  border: 1px solid #ebebeb;
  margin: 10px;
}

#canvas_container {
  height: 400px;
  overflow: auto;
  border: 1px solid #ebebeb;
  margin: 10px;
}