<div id='flowtest02_main'>
  <br>
    <div  style="margin-left: 10px" >
        <button md-raised-button (click)="AddFlow()"  >Add Box</button>
        <button md-raised-button (click)="Save()"   >Save</button>
        <button md-raised-button (click)="Open()"   >Open</button>
        <button md-raised-button (click)="this.OpenList()"   >Open List</button>
    </div>
  <div id='canvas_container'>
    <fincanvas #fcvs (MouseUp)='Canvas_MouseUp()' ></fincanvas>
  </div>
  <textarea id="summernote" class="form-control" ></textarea>
</div>