
        <div class="ins_centered">

            <div class="ins_leftside">
                left side
            </div>

            <div class="ins_body">
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLOKITTY</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLOKITTY</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLOKITTY</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLO</p>
                <p>HELLOKITTY</p>
                <p>HELLO</p>
                <p>HELLO</p>
            </div>

        </div>
