#main {
  width: 1000px;
  margin: 0 auto; 
  background: lightgray;
  display: flex;
}



#task_sidebar {
    background-color: #f12f2f;
    width: 300px;
    position:fixed;
    float: left;
    height: 100px;
}

#task_content {
    background-color: #4c8ae8;
    width: 500px;
    margin-left:310px;
    float: left;
    height: 1000px;
}