    <div id="main">
        
        <!-- <div style="background: lightgreen ;width:200px;height: 100%; margin-right: 10px; ">
            sub 1
            <br>
            <img src="" width="100%" height="300px" >
        </div>

        <div style="background: lightblue;width:500px;height: 100%; ">
            sub 2
            <br>
            <img src="" width="100%" height="500px" >
        </div>

        <div style="background: lightpink;width:200px;height: 100%; margin-left: 10px">
            sub 1
            <br>
            <img src="" width="100%" height="100px" >
        </div> -->

        <div id="task_leftsidebar">
            left Side
            <img src="" width="100%" height="300px" >
        </div>


        <div id="task_content">
            Lorem Ipsum
            <img src="" width="100%" height="1300px" >
        </div>



    </div>