<div id="main">

    <!-- <div id="task_leftsidebar">
        left
        <img src="" width="100%" height="300px">
    </div> -->

    <div id="task_content">

        <!--#############################################################################################-->
        <md-card class="example-card">
            <md-card-header>
                <md-card-title>My Task</md-card-title>
                <md-card-subtitle>Development</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </md-card-content>
            <md-card-actions>
                <button md-button>DONE</button>
                <button md-button>Detail</button>
            </md-card-actions>
        </md-card>
        <br>
        <!--#############################################################################################-->
        <!--#############################################################################################-->
        <md-card class="example-card">
            <md-card-header>
                <md-card-title>My Task</md-card-title>
                <md-card-subtitle>Development</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </md-card-content>
            <md-card-actions>
                <button md-button>DONE</button>
            </md-card-actions>
        </md-card>
        <br>
        
       

    </div>

</div>