#chart_main {
    width: 1200px;
    margin: 0 auto;
    background:lightblue;  
}


#chart_container {
    height: 400px;
    overflow: auto;
    border: 1px solid #ebebeb;
    margin: 10px;
    margin-top: 10px;
    background: white;
  }

  .chart_container {
    height: 400px;
    overflow: auto;
    border: 1px solid #ebebeb;
    margin: 10px;
    margin-top: 10px;
    background: white;
  }