<div class="navbar" >

  <button md-button [mdMenuTriggerFor]="menu" style="color:white">Test</button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="this.MyTaskClick()">My Task</button>
    <button md-menu-item (click)="this.CanvasTestClick()">Canvas Test</button>
    <button md-menu-item (click)="this.DartTestClick()">Dart API Test</button>
    <button md-menu-item (click)="this.chartTestClick()">Chart Test</button>
    <button md-menu-item (click)="this.DxGridTest()">DX Grid Test</button>
    <button md-menu-item (click)="this.SummernoteTestClick()">Summernote Test</button>
  </md-menu>

  <button md-button [mdMenuTriggerFor]="menu2" style="color:white">기업가치평가</button>
  <md-menu #menu2="mdMenu">
    <button md-menu-item (click)="this.CorpSearchClick()">상장법인 조회</button>
    <button md-menu-item (click)="this.DartTestClick()">유형별 조회</button>
  </md-menu>

  <button md-button [mdMenuTriggerFor]="menu" style="color:white">부동산 평가</button>

</div>

<div id="content">
  <router-outlet></router-outlet>
</div>