<div class="navbar">
  <a href="#home">My Task</a>
  <a href="#news">Diagram Test</a>
</div>
<div id="content">
    <!--Header Contents Layout
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLOKITTY</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLOKITTY</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLOKITTY</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    <p>HELLOKITTY</p>
    <p>HELLO</p>
    <p>HELLO</p>-->
    <router-outlet></router-outlet>
   
</div>

