
#header {
    width: 100%;
    height: 60px;
    background:#dbe3f9;
    position: fixed;
    top: 0;
}
#content {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
    background: #c0c0c0
}